<ul class="menu">
  <li {% if page.menu == 'index' %}class=" current active" {% endif %}><a href="/" >ГЛАВНАЯ</a></li>
  <li {% if page.menu == 'about-kennel' %}class=" current active" {% endif %}><a href="/o-pitomnike.html" >О ПИТОМНИКЕ</a></li>
  <li {% if page.menu == 'news' %}class=" current active" {% endif %}><a href="/news.html" >НОВОСТИ</a></li>
  <li {% if page.menu == 'volpino-italyano' %}class=" current active" {% endif %}><a href="/volpino-italyano.html" >МОИ ВОЛЬПИНО ИТАЛЬЯНО</a></li>
  <li {% if page.menu == 'standart-porody' %}class=" current active" {% endif %}><a href="/standart-porody.html" >СТАНДАРТ ПОРОДЫ</a></li>
  <li {% if page.menu == 'istoriya-porody' %}class=" current active" {% endif %}><a href="/istoriya-porody.html" >ИСТОРИЯ ПОРОДЫ</a></li>
  <li {% if page.menu == 'shchenki' %}class=" current active" {% endif %}><a href="/shchenki.html" >ЩЕНКИ НА ПРОДАЖУ</a></li>
  <li {% if page.menu == 'nashi-deti' %}class=" current active" {% endif %}><a href="/nashi-deti.html" >НАШИ ДЕТИ</a></li>
  <li {% if page.menu == 'foto' %}class=" current active" {% endif %}><a href="/foto.html" >ФОТО</a></li>
  <li {% if page.menu == 'nemetskij-malyj-shpits' %}class=" current active" {% endif %}><a href="/nemetskij-malyj-shpits.html" >НЕМЕЦКИЙ МАЛЫЙ ШПИЦ</a></li>
  <li {% if page.menu == 'links' %}class=" current active" {% endif %}><a href="/links.html" >ССЫЛКИ</a></li>
  <li {% if page.menu == 'kontakt' %}class=" current active" {% endif %}><a href="/kontakt.html" >КОНТАКТЫ</a></li>
</ul>